<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Hello from STEM</title>
  <link rel="stylesheet" href="/static/styling.css">
  {% from 'macros.html' import navbar %}
</head>
<body>
  {{ navbar() }}
  <div class="container">
    <div class="inner">
      <div class="formContainer">
        <form>
          <h1>booking for {{ entry }}</h1>
          <label for="name">name: </label>
          <input type="text" name="name" id="name" required>
          <label for="info">extra info for the booking: </label>
          <textarea rows="10" cols="30" name="info" id="info"></textarea>
          <input type="submit", value="submit">
          <small class="center-text">&#42;bookings are more there to show demand for that thing, rather than to reserve it</small>
        </form>
      </div>
      <div class="footer">
        <p>Powered by duct tape and spite</p>
      </div>
    </div>
  </div>
</body>