<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Hello from STEM</title>
    <link rel="stylesheet" href="/static/styling.css">
    <script>
        function sortTable(ipt, tbl) {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById(ipt);
          filter = input.value.toUpperCase();
          table = document.getElementById(tbl);
          tr = table.getElementsByTagName("tr");
  
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      </script>
      {% from 'macros.html' import navbar %}
    </head>
    <body>
      {{ navbar() }}
    <div class="container">
        <div class="inner">
            <div class="dbLookup">
                <input type="text" id="searchTerms" onkeyup="sortTable('searchTerms', 'data')" placeholder="Search by material">
                <small class="center-text">&#42;bookings are more there to show demand for that thing, rather than to reserve it</small>
                <table id="data">
                    <tr>
                        <th style="width: 30%;">name</th>
                        <th style="width: 40%;">location</th>
                        <th style="width: 10%;">available</th>
                        <th style="width: 10%;">bookings&#42;</th>
                        <th style="width: 10%;">book</th>
                    </tr>
                    {% for a in data: %}
                    <tr>
                        <td>{{a[0]}}</td>
                        <td class="hoverImg" style="--img: url({{ a[2] }})">{{a[1]}}</td>
                        <td>{{a[3]}}</td>
                        <td>{{a[4]}}</td>
                        <td><button onclick="document.location.href='/book/{{ a[0] }}'">book {{a[0]}}</button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="footer">
                <p>Powered by duct tape and spite</p>
            </div>
        </div>
    </div>
</body>