<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Hello from STEM</title>
    <link rel="stylesheet" href="/static/styling.css">
    {% from 'macros.html' import navbar %}
</head>
<body>
  {{ navbar() }}
  <div class="container">
    <div class="inner">
      <div>
        <h1>Welcome to the Catalogue!</h1>
        <p>This is a tool for cataloguing and finding materials in the stem spaces. 
          Please keep in mind that this is not a perfect tool, as it requires people to maintain it. 
          <br><br>
          anyway, <a href="/db/">this is the main database thingy</a>
          <br><br>
          If you want to add to this tool, the code is available <a href="https://github.com/Kyan1de/catalogueSTEM">here</a>. you'll need to talk to [whoever ends up being responsible for this] about getting access to the database and setting up a new version though. 
          I recommend some knowledge of python, html+css, and maybe javascript, but if you find some other way of doing things (or want to redo this entirely), i'm sure that could work in some way. 
          If you want to add to this, but don't know what to do <a href="/contributing">check here</a> for ideas. 
        </p>
      </div>
      <div class="footer">
        <p>Powered by duct tape and spite</p>
      </div>
    </div>
  </div>
</body>